<div class="bs-component">
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary mt-3" href="/cobrar/qr">
            <span class="material-symbols-outlined">
                qr_code_scanner
            </span> Cobrar con QR
        </a>
        <a class="btn btn-lg btn-primary mt-1" href="/cobrar">
            <span class="material-symbols-outlined">
                note_alt
            </span>Cobrar manualmente
        </a>
        <a class="btn btn-lg btn-info mt-3" href="/lista">
            <span class="material-symbols-outlined">
                format_list_bulleted
            </span>Lista de pagantes
        </a>
    </div>
</div>